#ignore everything in the root except "desktopmodules" directory
/*
!.gitignore
!DesktopModules/

#ignore everything in the "DesktopModules" directory except the "jscherer" directory
DesktopModules/*
!DesktopModules/jscherer/
!DesktopModules/jscherer/*